* {
    font-family: "Times New Roman", Times, serif;
}

#header {	
    text-align: center;
    background-color: #247BA0;
}

#lulja {
    width: 400px;
    height: 200px;
}

ul {
    float: right;
    background-color: #ff0000;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #5ADBFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #000000;
    height: 22px;
    color: #247BA0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    caption-side: bottom;
}

th, td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #e2400f;
    color: white;
}

.footer {
    background-color: #5ADBFF;
    padding: 0.5em;
    text-align: right;
}
#btn { 
    background-color: #ff0000
    cornflowerblue;
    padding: 10px 40px 60px 30px;

    margin: 30px 45px 30px 45px;
}

th:hover {
    background-color: black;
  }
  tr:nth-child(even){
    background-color: blue;
    }
    tr:nth-child(odd){
    background-color: green;
    }
    #lulja{
        width: 200px;
        height: 200px;
        margin: 200px;
        padding: 100px;
        
    }